@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #B5DCDF;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
  
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF9FF; 
    margin: 10px;
    border: 2px solid #000000; 
    border-radius: 10px; 
    color: #fff; 
    padding: 10px;
    font-family: 'Montserrat';
}
  
.upper-header{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lower-header  {
    width: auto;
    justify-content: center;
}
  
button {
    margin-right: 10px;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.photo-section, .text-section {
    flex: 1;
    text-align: center; 
}

.photo-section{
    flex: 0 0 15%;
    margin-top: auto;
}
  
.text-section {
    flex: 0 0 70%;
}
  
img {
    max-width: 100%;
    height: auto;
    max-height: 100px; 
}

p {
    line-height: 1.6;
    color: #555;
}

button {
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat';
}

.pressed {
    background-color: #555;
    color: #EFF9FF;
}

button:hover {
    background-color: #555;
    color: #EFF9FF;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #EFF9FF;
    text-align: center;
    height: 44px;
    padding: 10px;
    margin-top: auto; 
    border-top: 2px solid #000000; 
}

.main2 {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.buttons button {
    margin-bottom: 10px;
    border: 1px solid #000000; 
    border-radius: 20px;
    width: 238px;
    height: 40px;
    cursor: pointer;
    font-family: 'Montserrat';
    text-align: left;
    background-color: #D9D9D9;
}

.buttons {
    flex-shrink: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.buttons button:hover {
    background-color: #555;
    color: #EFF9FF;
}

.buttons button.right {
    margin-left: 150px;
    width: fit-content;
}

.main2-content {
    flex: 1;
    background-color: #D9D9D9;
    margin: 30px;
    height: 380px;
    width: 1770px; 
    border: 1px solid #000000;
    overflow: auto; 
}

#main-lab3 {
    height: 500px;
}

.lab-content {
    font-family: 'Montserrat';
    text-align: left;
    color: #000000;
    font-size: 12px;
}

.title{
    font-weight: bold;
    font-size: 24px;
}

.lab-content .main-title{
    font-weight: bold;
    background-color: #EFF9FF;
}

.lab-content .subtitle{
    font-weight: bold;
}

.lab-content span{
    font-weight: bold;
}

.photo-сontent1-3 {
    margin: auto;
    margin-left: 25px;
}

.photo-сontent1-3 img {
    width: 50%;
    max-height: 400px;
}

.lab-content p{
    margin-left: 10px;
    margin-right: 30px;
}

.photo-content4-4, .photo-content4-5{
    height: 800px;
    width: 50%;
    position: relative;
    margin-left: 15px;
}

.photo-content4-5{
    height: 700px;
}

.photo-content4-4 img {
    width: 100%;
    max-height: 800px;
}

.photo-content4-5 img {
    width: 70%;
    max-height: 800px;
}

#photo-сontent5{
    display: flex;
    flex-direction: row;
    width: 700px;
    background-color: #dfb5c9;
}

#photo-сontent5 img{
    margin: 10px;
}

.photo-сontent6 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.photo-сontent6-1 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic55.png') no-repeat center center / cover;
}

.photo-сontent6-2 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic56.png') no-repeat center center / cover;
}

.photo-сontent6-3 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic57.png') no-repeat center center / cover;
}

.photo-сontent6-4 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic58.png') no-repeat center center / cover;
}

.photo-сontent6-5 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic59.png') no-repeat center center / cover;
}

.photo-сontent6-6 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic60.png') no-repeat center center / cover;
}

.photo-сontent6-7 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic61.png') no-repeat center center / cover;
}

.photo-сontent6-8 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic62.png') no-repeat center center / cover;
}

.photo-сontent6-9 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic68.png') no-repeat center center / cover;
}

.photo-сontent7-1 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic69.png') no-repeat center center / cover;
}

.photo-сontent7-2 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic70.png') no-repeat center center / cover;
}

.photo-сontent7-3 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic71.png') no-repeat center center / cover;
}

.photo-сontent7-4 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic72.png') no-repeat center center / cover;
}

.photo-сontent7-5 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic73.png') no-repeat center center / cover;
}

.photo-сontent7-6 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic74.png') no-repeat center center / cover;
}

.photo-сontent7-7 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic75.png') no-repeat center center / cover;
}

.photo-сontent7-8 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic76.png') no-repeat center center / cover;
}

.photo-сontent8-2 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic80.png') no-repeat center center / cover;
}

.photo-сontent8-1 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 800px;
    background: url('photo/pic81.png') no-repeat center center / cover;
}

.photo-сontent8-3 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic82.png') no-repeat center center / cover;
}

.photo-сontent8-4 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 500px;
    background: url('photo/pic83.png') no-repeat center center / cover;
}

.photo-сontent8-5 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 350px;
    background: url('photo/pic84.png') no-repeat center center / cover;
}

.photo-сontent8-6 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 500px;
    background: url('photo/pic85.png') no-repeat center center / cover;
}

.photo-сontent8-7 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic86.png') no-repeat center center / cover;
}

.photo-сontent8-8 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 550px;
    background: url('photo/pic87.png') no-repeat center center / cover;
}

.photo-сontent8-9 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 620px;
    background: url('photo/pic88.png') no-repeat center center / cover;
}

.photo-сontent8-10 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic89.png') no-repeat center center / cover;
}

.photo-сontent8-11 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 650px;
    background: url('photo/pic90.png') no-repeat center center / cover;
}

.photo-сontent8-12 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic91.png') no-repeat center center / cover;
}

.photo-сontent8-13 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 660px;
    background: url('photo/pic92.png') no-repeat center center / cover;
}

.photo-сontent8-14 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic93.png') no-repeat center center / cover;
}

.photo-сontent8-15 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 660px;
    background: url('photo/pic94.png') no-repeat center center / cover;
}

.photo-сontent8-16 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 660px;
    background: url('photo/pic95.png') no-repeat center center / cover;
}

.photo-сontent8-17 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 600px;
    background: url('photo/pic96.png') no-repeat center center / cover;
}

.photo-сontent8-18 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 520px;
    background: url('photo/pic97.png') no-repeat center center / cover;
}

.photo-сontent8-19 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 530px;
    background: url('photo/pic98.png') no-repeat center center / cover;
}

.photo-сontent8-20 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic99.png') no-repeat center center / cover;
}

.photo-сontent8-21 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 560px;
    background: url('photo/pic100.png') no-repeat center center / cover;
}

.photo-сontent8-22 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 520px;
    background: url('photo/pic101.png') no-repeat center center / cover;
}

.photo-сontent8-23 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic102.png') no-repeat center center / cover;
}

.photo-сontent8-24 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic103.png') no-repeat center center / cover;
}

.photo-сontent8-25 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 460px;
    background: url('photo/pic104.png') no-repeat center center / cover;
}

.photo-сontent8-26 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic105.png') no-repeat center center / cover;
}

.photo-сontent8-27 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic106.png') no-repeat center center / cover;
}

.photo-сontent8-28 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 560px;
    background: url('photo/pic107.png') no-repeat center center / cover;
}

.photo-сontent8-29 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 460px;
    background: url('photo/pic108.png') no-repeat center center / cover;
}

.photo-сontent8-30 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic109.png') no-repeat center center / cover;
}

.photo-сontent8-31 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic110.png') no-repeat center center / cover;
}

.photo-сontent8-32 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic111.png') no-repeat center center / cover;
}

.photo-сontent8-33 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 500px;
    background: url('photo/pic112.png') no-repeat center center / cover;
}

.photo-сontent8-34 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic113.png') no-repeat center center / cover;
}

.photo-сontent8-35 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 600px;
    background: url('photo/pic114.png') no-repeat center center / cover;
}

.photo-сontent8-36 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 600px;
    background: url('photo/pic115.png') no-repeat center center / cover;
}

.photo-сontent8-37 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 500px;
    background: url('photo/pic116.png') no-repeat center center / cover;
}

.photo-сontent8-38 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 600px;
    background: url('photo/pic117.png') no-repeat center center / cover;
}

.photo-сontent8-39 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic118.png') no-repeat center center / cover;
}

.photo-сontent8-40 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic119.png') no-repeat center center / cover;
}

.photo-сontent8-41 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 440px;
    background: url('photo/pic120.png') no-repeat center center / cover;
}

.photo-сontent8-42 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic121.png') no-repeat center center / cover;
}

.photo-сontent8-43 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic122.png') no-repeat center center / cover;
}

.photo-сontent8-44 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 490px;
    background: url('photo/pic123.png') no-repeat center center / cover;
}

.photo-сontent8-45 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 480px;
    background: url('photo/pic124.png') no-repeat center center / cover;
}

.photo-сontent8-46 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 630px;
    background: url('photo/pic125.png') no-repeat center center / cover;
}

.photo-сontent8-47 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 590px;
    background: url('photo/pic126.png') no-repeat center center / cover;
}

.photo-сontent8-48 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 480px;
    background: url('photo/pic127.png') no-repeat center center / cover;
}

.photo-сontent8-49 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 480px;
    background: url('photo/pic128.png') no-repeat center center / cover;
}

.photo-сontent8-50 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 460px;
    background: url('photo/pic129.png') no-repeat center center / cover;
}

.photo-сontent8-51 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 480px;
    background: url('photo/pic130.png') no-repeat center center / cover;
}

.photo-сontent8-52 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 460px;
    background: url('photo/pic131.png') no-repeat center center / cover;
}

.photo-сontent8-53 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 580px;
    background: url('photo/pic132.png') no-repeat center center / cover;
}

.photo-сontent8-54 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 460px;
    background: url('photo/pic133.png') no-repeat center center / cover;
}

.photo-сontent8-55 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 540px;
    background: url('photo/pic134.png') no-repeat center center / cover;
}

.photo-сontent8-56 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 560px;
    background: url('photo/pic135.png') no-repeat center center / cover;
}

.photo-сontent9-2 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic136.png') no-repeat center center / cover;
}

.photo-сontent9-1 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 800px;
    background: url('photo/pic137.png') no-repeat center center / cover;
}

.photo-сontent9-3 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 700px;
    background: url('photo/pic138.png') no-repeat center center / cover;
}

.photo-сontent9-4 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 640px;
    background: url('photo/pic139.png') no-repeat center center / cover;
}

.photo-сontent9-5 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    background: url('photo/pic140.png') no-repeat center center / cover;
}

.photo-сontent9-6 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 640px;
    background: url('photo/pic141.png') no-repeat center center / cover;
}

.photo-сontent9-7 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 600px;
    background: url('photo/pic142.png') no-repeat center center / cover;
}

.photo-сontent9-8 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic143.png') no-repeat center center / cover;
}

.photo-сontent9-9 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic144.png') no-repeat center center / cover;
}

.photo-сontent9-10 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic145.png') no-repeat center center / cover;
}

.photo-сontent9-11 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 660px;
    background: url('photo/pic146.png') no-repeat center center / cover;
}

.photo-сontent9-12 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic147.png') no-repeat center center / cover;
}

.photo-сontent9-13 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic148.png') no-repeat center center / cover;
}

.photo-сontent9-14 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic149.png') no-repeat center center / cover;
}

.photo-сontent9-15 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 480px;
    background: url('photo/pic150.png') no-repeat center center / cover;
}

.photo-сontent9-16 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic151.png') no-repeat center center / cover;
}

.photo-сontent9-17 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic152.png') no-repeat center center / cover;
}

.photo-сontent9-18 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic153.png') no-repeat center center / cover;
}

.photo-сontent9-19 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic154.png') no-repeat center center / cover;
}

.photo-сontent9-20 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic155.png') no-repeat center center / cover;
}

.photo-сontent9-21 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 650px;
    background: url('photo/pic156.png') no-repeat center center / cover;
}

.photo-сontent9-22 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic157.png') no-repeat center center / cover;
}

.photo-сontent9-23 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic158.png') no-repeat center center / cover;
}

.photo-сontent9-24 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic159.png') no-repeat center center / cover;
}

.photo-сontent9-25 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic160.png') no-repeat center center / cover;
}

.photo-сontent9-26 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic161.png') no-repeat center center / cover;
}

.photo-сontent9-27 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic162.png') no-repeat center center / cover;
}

.photo-сontent9-28 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic163.png') no-repeat center center / cover;
}

.photo-сontent9-29 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 350px;
    background: url('photo/pic164.png') no-repeat center center / cover;
}

.photo-сontent9-30 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 480px;
    background: url('photo/pic165.png') no-repeat center center / cover;
}

.photo-сontent9-31 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic166.png') no-repeat center center / cover;
}

.photo-сontent9-32 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic167.png') no-repeat center center / cover;
}

.photo-сontent9-33 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic168.png') no-repeat center center / cover;
}

.photo-сontent9-34 {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 680px;
    background: url('photo/pic169.png') no-repeat center center / cover;
}